* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Poppins', sans-serif;
  line-height: 2.5rem;
  background-image: url(sign_in.svg)
}

a {
  color: blue;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  overflow: auto;
  background: #fff;
}

img {
   width:70%;
   display:block;
   margin: 6rem auto;
}

.image_description {
  background:#fbfeff;
}

.card {
  display:grid;
  grid-template-columns: 1.1fr 0.9fr;
  height: 100vh;
}

#login_form {
  margin: 12.5rem auto;
}



h4 {
  color: #cccccc;
}

#welcomeText {
  margin-bottom: 1px;
}

input:focus {
  outline: none;
}

#email {
  background-color: #e6e6e6;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  color: white;
  margin-top: 12px;
  font-size: 0.7em;
  padding-left: 10px;
}

#password {
  background-color: #e6e6e6;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  margin-top: 12px;
  color: white;
  font-size: 0.7em;
  padding-left: 10px;
}


#sign_in_btn:hover {
  background-color: #3c3cf0;
  color: white;
}

#sign_in_btn {
  background-color: #0000ff;
  height: 30px;
  width: 250px;
  border-radius: 25px;
  margin-top: 12px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}

#forgotpassword {
  margin-left:56px ;
  text-decoration: none;
  color:  #a6a6a6;
  width: 70%;
  display: block;
}

.main_title {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.main_span {
  color: #0056ec;
  border: 3px solid #0056ec;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.9em;
}

.main_span .red_text {
  color: #eb5757;
}

.main_span .orange_text {
  color: #f2994a;
}

.main_span .skyBlue_text {
  color: #56ccf2;
}

.main_span .purple_text {
  color: #bb6bd9;
}

.main_span .green_text {
  color: #27ae60;
}
