* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 2.5rem;
  background-image: url(sign_in.svg);
}

a {
  color: blue;
  text-decoration: none;
}

.container {
  width: 100%;
  overflow: auto;
  background: #fff;
}

img {
  width: 65%;
  display: block;
  margin: 10rem auto;
}

.image_description {
  position: relative;
  background: #fbfeff;
}

.card {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  height: 100vh;
}

#login_form {
  margin: 12.5rem 5rem;
}

.label_text {
  font-size: 2rem;
  font-weight: 600;
  color: #011b33;
}

h4 {
  color: #cccccc;
}

#welcomeText {
  margin-bottom: 1px;
  font-size: 1.5rem;
  font-weight: 500;
}

input:focus {
  outline: none;
}

input {
  border: none;
}

#name,
#email,
#password,
#sign_in_btn {
  border-radius: 100px;
  margin-top: 0.75rem;
  color: #000;
}

#name,
#email,
#password {
  background-color: #f4f6f8;
  padding: 18px 20px;
  width: 80%;
}

#sign_in_btn {
  display: block;
  background-color: #0000ff;
  padding: 18px 0;
  width: 80%;
  color: #fff;
}

#sign_in_btn:hover {
  background-color: #3c3cf0;
  color: #fff;
}

.error {
  color: red;
}

.forgot_password_block {
  display: flex;
  justify-content: center;
  width: 80%;
}

#forgotpassword {
  text-decoration: none;
  color: #a6a6a6;
  display: block;
  transition: all 0.3s;
}

#forgotpassword:hover {
  text-decoration: underline;
  color: #0000ff;
}

.main_title {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.main_span {
  color: #0056ec;
  border: 3px solid #0056ec;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.9em;
}

.main_span .red_text {
  color: #eb5757;
}

.main_span .orange_text {
  color: #f2994a;
}

.main_span .skyBlue_text {
  color: #56ccf2;
}

.main_span .purple_text {
  color: #bb6bd9;
}

.main_span .green_text {
  color: #27ae60;
}

@media only screen and (max-width: 68.75em) {
  #name,
  #email,
  #password {
    width: 100%;
  }

  #sign_in_btn {
    width: 100%;
  }

  .forgot_password_block {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 56.25em) {
  #login_form {
    margin: 12.5rem 2rem;
  }

  img {
    width: 90%;
    display: block;
    margin: 15rem auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .card {
    grid-template-columns: 0fr 1fr;
  }

  #login_form {
    margin: 12.5rem 5rem;
  }

  .image_description {
    position: unset;
  }
}

@media only screen and (max-width: 31.25em) {
  #login_form {
    margin: 12.5rem 2rem;
  }
}
